{% extends 'core/base.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<main class="mt-5 py-5 bg-dark" style="height: 100vh;">
 
  <div style="display: flex; justify-content: center;">
    <form class="d-flex gap-1" method="get" action="">
      <input name="query" value="{{query}}" type="text" placeholder="Search..." class="form-control">
      <button type="submit" class="btn btn-secondary">search</button>
    </form>
    </div>
  <div
    style="display: grid; grid-template-columns: auto auto auto; gap: 50px; justify-content: center; padding: 50px 0;">
    {% if movies %}
    {% for movie in movies %}

    <div style="width: 300px;" class="border ">
      <img class="rounded" style="width: 100%; height: 300px; object-fit: cover;" src="{{movie.images.url}}" alt="">
      <h3 class="text-light text-center py-2">{{movie.name}}</h3>
      <div class="d-flex justify-content-between px-3 py-1">
        <h6> <span class="badge text-bg-secondary">{{movie.movie}}</span></h6>
     

       

        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#movieModal{{movie.id}}">
          watch now
        </button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="movieModal{{movie.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="movieModalLabel{{movie.id}}" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content bg-dark">
            <div class="modal-header border-none" style="border: none;">
              <h1 class="modal-title fs-5" id="staticBackdropLabel text-light">Modal title</h1>
              <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
              <video style="width: 100%;" controls src="{{movie.video.url}}">{{movie.id}}</video>

            </div>
            <div class="modal-footer"
              style="border: none; display: flex; justify-content: space-between; align-items: start;">
              <div>
                <form id="commentForm-{{ movie.id }}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="movie_id" value="{{ movie.id }}"> <!-- Hidden field for post ID -->
                  <textarea placeholder="Leave the comment..." class="px-3 py-2 rounded bg-dark"
                    style="outline: none; border:1px solid gray; color: gray;" name="content"
                    id="content-{{ movie.id }}" rows="4" cols="50"></textarea>
                  <div>
                    <button style="border: 1px solid gray;  color: white;" class="rounded py-2 px-4 bg-dark"
                      type="submit">Post</button>
                  </div>
                </form>
                <div class="px-3" id="comments-{{ movie.id }}">
                  {% for comment in movie.comments.all %}
                  <p class="text-light mt-3"><strong>{{ comment.user.username }}:</strong> {{ comment.content }}</p>
                  {% endfor %}
                </div>

              </div>
              <div>
                <button class="like-button " style="border: none; background-color: transparent;"
                  data-movieid="{{movie.id}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-hearts"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M4.931.481c1.627-1.671 5.692 1.254 0 5.015-5.692-3.76-1.626-6.686 0-5.015m6.84 1.794c1.084-1.114 3.795.836 0 3.343-3.795-2.507-1.084-4.457 0-3.343M7.84 7.642c2.71-2.786 9.486 2.09 0 8.358-9.487-6.268-2.71-11.144 0-8.358" />
                  </svg>
                  <span class="like_count text-light">{{movie.like_count}}</span>

                </button>
                <a href="{% url 'cinema_app:favourite_add' movie.id %}" class="btn btn-dark fovourite-btn"
                  data-movie-id="{{movie.id}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-save2"
                    viewBox="0 0 16 16">
                    <path
                      d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v4.5h2a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 5.5 6.5h2V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1z" />
                  </svg>
                </a>
              </div>

            </div>
            <div>

            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
    {% else %}
    <h1 class="text-light text-center" style="font-weight: 400;">Not Found...😔</h1>
    {% endif %}
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(document).on('click', '.like-button', function (e) {
    e.preventDefault();

    var movieID = $(this).data('movieid');
    var $likeCount = $(this).find('.like_count');
    var $svg = $(this).find('svg');
    // Toggle button color



    $.ajax({
      type: 'POST',
      url: '{% url "cinema_app:like" %}',
      data: {
        movieid: movieID,
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'post'
      },
      success: function (json) {
        $likeCount.text(json.result);

        if (parseInt(json.result) > 0) {
          $svg.attr('fill', 'red');
        } else {
          $svg.attr('fill', 'white');
        }
      },
      error: function (xhr, errmsg, err) {
        // Handle error
      }
    });
  });
  $(document).ready(function () {
    $('.fovourite-btn').click(function (event) {
      event.preventDefault();
      var movieId = $(this).data('movie-id');
      var button = $(this);

      $.ajax({
        url: '{% url "cinema_app:favourite_add" 0 %}'.replace('0', movieId),
        type: 'POST',
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        },

        success: function (data) {
          if (data.added) {
            button.find('svg').attr('fill', 'green');
          } else {
            button.find('svg').attr('fill', 'white');
          }
          $('#message-container').text(data.message).show().delay(3000).fadeOut();

          $('.favourite-count').text(data.favourite_count);
        },
        error: function (xhr, status, error) {
          if (xhr.status === 401) {

            $('#message-container').text('Please register to perform this action').show().delay(3000).fadeOut();
          } else {
            alert('An error occurred');
          }
        }
      });
    });
  });
  $(document).on('submit', 'form[id^="commentForm-"]', function (event) {
    event.preventDefault();

    var form = $(this);
    var movieId = form.find('input[name="movie_id"]').val();
    var commentContent = form.find('textarea[name="content"]').val();

    $.ajax({
      url: "{% url 'cinema_app:movie_comment' %}",
      type: "POST",
      data: {
        movie_id: movieId,
        content: commentContent,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (response) {
        if (response.success) {
          $('#comments-' + movieId).prepend('<p class="text-light mt-3" ><strong>' + response.user + ':</strong> ' + response.comment + '</p>');
          form.find('textarea[name="content"]').val('');
        } else {
          alert('There was an error. Please try again.');
        }
      }
    });
  });


</script>
{% endblock %}